body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #333;
}

.result-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.result-container h3 {
    color: #666;
}

.image-container {
    margin-top: 20px;
}

#previewImage {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
